/*========================================
GENERAL SET-UP
======================================== */

*,
*:before,
*:after  {
    box-sizing: border-box;
    margin: 0;

}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    /*font-family: 'Cherry Swash', cursive;*/
}

.wrap {
    margin: 0 auto;
    max-width: 1280px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 960px;
}

/*========================================
HEADER
======================================== */

.header {
    background-color: #40b2b2;
}

.header .container {
    flex-direction: row;
}

.header__logo {
    padding: 0.75em 0.4em;
    font-family: 'Cherry Swash', cursive;
    font-size: calc(16px + 1.3vw);
    color: #FFFFFF; 
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-right: 0.7em;
    font-size: calc(1rem + 0.4vw);
    text-transform: uppercase;
}

.header__link {
    position: relative;
    text-decoration: none;
    color: #FFFFFF; 
}

.header__link:not(:first-child)::after {
    content: "/";
    position: absolute;
    left: -2em;
}

.header__link:hover {
    color: #000000;
    transition: color 0.2s ease-in-out;
}

.header__link:hover::after {
    color: #FFFFFF;
}

/*========================================
PROMO
======================================== */

.promo {
    background: url(../img/sea-bg.png) center no-repeat;
}

.promo__title {
    max-width: 15em;
    padding-top: 20%;
    padding-bottom: 5%;
    font-size: calc(4rem + 1.3vw);

    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.promo__btn {
    background-color: transparent; 
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    color: white;
    padding: 0.5em 1em;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(1.5rem + 1.3vw);
}

.promo__btn:hover {
    background-color: #FFFFFF;
    color: #000000;
    transition: all 0.2s ease-in-out;
}

.promo__list {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 0;
    color: #FFFFFF;
}

.promo__item {
    display: inline-block;
    height: 9px;
    width: 9px;
    margin: auto 4px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.promo__item:nth-child(3) {
    background-color: #818181;
}

/*========================================
MAIN
======================================== */

.main__title {
    max-width: 55%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: calc(1rem + 1.3vw);

    text-align: center;
    font-weight: lighter;
    line-height: 2em;
    color: #4C505D;
}

.main__text {
    margin: 0 1em;
    padding-bottom: 7%;
    text-align: center;
    font-size: calc(0.5rem + 1.3vw);
}

.main-list__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 50%;
    padding-bottom: 9%;
}

.main-icon {
    height: 6em;
    width: 6em;
}

.main-icon:nth-child(1) {
    background: url(../img/paper-box-icon.png) center no-repeat;
}

.main-icon:nth-child(2) {
    background: url(../img/earthglobe-icon.png) center no-repeat;
}

.main-icon:nth-child(3) {
    background: url(../img/papercase-icon.png) center no-repeat;
}

/*========================================
TESTIMONIAL
======================================== */

.testimonial {
    background-color: #00D089;
}

.testimonial .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__header {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.testimonial__dhavan {
    height: 135px;
    width: 135px;
    margin-bottom: 5%;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial__name {
    position: absolute;
    left: 150px;
    display: block;
    font-size: 2.5rem;
    text-transform: uppercase;
    color:#FFFFFF;
    font-weight: 900;
}

.testimonial__name:after {
    content: '\201D';
    position: absolute;
    display: block;
    top: -20px;
    left: -15px;
    font-size: 30rem;
    opacity: 0.3;
}

.testimonial__review {
    margin: 0 1em;
    padding-bottom: 3em;
    font-size: calc(0.1rem + 1.3vw);
    font-weight: lighter;
    line-height: 1.6em;
    color: #FFFFFF;
}

/*========================================
CONTACT
========================================*/

.contact {
    height: 45vw;
    background: url(../img/map-bg.png) center/cover no-repeat;
}

.contact .container {
    height: 45vw;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vw;
    width: 40vw;
    margin-top: 2.5vw;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.form__user-name {
    width: 10em;
    margin-top: 13%;
    font-size: calc(0.4rem + 1.6vw);
}

.form__user-email {
    width: 10em;
    margin: 3% 0;
    font-size: calc(0.4rem + 1.6vw);
}

.form__user-message {
    width: 10em;
    margin-bottom: 3%;
    font-size: calc(0.4rem + 1.6vw);
}

.form__user-message::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.btn-container {
    position: relative;
    font-size: calc(0.4rem + 1.3vw);
}

.btn-container::before {
    content: "";
    position: absolute;
    top: 1.5em;
    left: 1em;
    display: block;
    height: 1.5em;
    width: 0.5em;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.btn-container::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 1.6em;
    left: 1.3em;
    height: 0.5em;
    width: 2em;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.btn-container::before,
.btn-container::after {
    transform: rotate(-220deg);
}

.form__submit {
    background-color: #00D089; 
    border: none;
    border-radius: 50%;
    color: white;
    padding: 2.5vw 2.5vw;
    margin: 0 auto;
    text-align: center;
}

.form__submit:hover {
    background-color: #049c6a;
    transition: all 0.2s ease-in-out;
}
/*========================================
FOOTER
========================================*/

.footer {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #00D089;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__copyright {
    margin: 1.5% 0;
    color: #FFFFFF;
    text-transform: uppercase;
}

